<% if flash[:notice] %>
    <p style = "color: green; font-weight: bold; text-align: justify;"><%= notice %></p>
<% end %>

<% if flash[:alert] %>
    <p style = "color: red; font-weight: bold; text-align: justify;"><%= alert %></p>
<% end %>
